html,
body {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}

i.iconfont {
   margin-right: 20px;
}

.el-submenu__title,
.el-menu-item {
   font-size: 13px;
}

.box-card {
   margin-top: 25px;
}

.el-step__title {
   font-size: 12px;
}